<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Ecommerce.styles.css" asp-append-version="true" />
</head>

<body>
    <header id="" class="main_header">
        <div class="Container">
            <div class="HeaderLayout">
                <div class="style__logo">
                    <a href="https://tiki.vn" class="logo">
                        <img src="~/img/Layout/tiki_logo.png" alt="" width="96" height="40">
                        <span>Nguồn tham khảo</span>
                    </a>
                </div>
                <div class="SearchContainer">
                    <div class="Middle_wrap">
                        <div class="Middle__LeftContainer">
                            <div class="style__Root">
                                <div class="styles__Form">
                                    <img class="icon__search" src="~/img/Layout/search_shortcut_icon.png" alt="">
                                    <input type="text" value placeholder="Bạn tìm gì nào?" class="styles__Input">
                                    <button class="styles__Button">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                        <div class="UserStyle">
                            <div class="UserStyle__MenuItem">
                                <img src="~/img/Layout/trangChu_shortcut.png" alt="">
                                <a asp-area="" asp-controller="Home" asp-action="Index">Trang
                                    Chủ</a>
                            </div>
                            <div class="UserStyle__Account">
                                <img src="~/img/Layout/Account_shortcut_icon.png" alt="">
                                <span>Tài khoản</span>
                            </div>
                            <div class="UserStyle__CartItem">
                                <a rel="nofollow" href="#"></a>
                                <div class="Userstyle__MenuItem">
                                    <div class="cart__wrapper">
                                        <img class="cart__icon" src="~/img/Layout/CartItem_shortcut_icon.png" alt="">
                                        <span class="Userstyle__ItemCartQtyRevamp">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Bottom__Root">
                        <div class="header_quicklinks_container">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home1</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home2</a>
                        </div>
                        <div class="Location__Wrapper">
                            <div class="delivery-zone__heading">
                                <img src="~/img/Layout/Position_shortcut_icon.png" alt="">
                                <h4 class="title">Địa chỉ:</h4>
                                <div class="address"> ĐÀ NẴNG</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="styles__Wrapper">aaaaa</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
