<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>

<body>
    <nav class="sidebar">
        <div class="sidebar-top-wrapper">
            <div class="sidebar-top">
                <a href="#">
                    <img src="" alt="Logo" class="logo-small">
                    <span class="hide company-name">
                        Apple Store
                    </span>
                </a>
            </div>
            <button class="expand-btn" type="button">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.00979 2.72L10.3565 7.06667C10.8698 7.58 10.8698 8.42 10.3565 8.93333L6.00979 13.28"
                        stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="sidebar-links-wrapper">
            <div class="sidebar-links">
                <ul>
                    <li>
                        <a href="#dashboard" title="Dashboard">
                            <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.82764 11.8634C1.82764 8.49248 1.82764 6.80699 2.57126 5.61223C2.84639 5.17021 3.18813 4.78574 3.58105 4.47623C4.64306 3.63965 6.14126 3.63965 9.13767 3.63965H12.7927C15.7891 3.63965 17.2873 3.63965 18.3493 4.47623C18.7422 4.78574 19.084 5.17021 19.3591 5.61223C20.1027 6.80699 20.1027 8.49248 20.1027 11.8634C20.1027 15.2344 20.1027 16.9199 19.3591 18.1146C19.084 18.5567 18.7422 18.9411 18.3493 19.2506C17.2873 20.0872 15.7891 20.0872 12.7927 20.0872H9.13767C6.14126 20.0872 4.64306 20.0872 3.58105 19.2506C3.18813 18.9411 2.84639 18.5567 2.57126 18.1146C1.82764 16.9199 1.82764 15.2344 1.82764 11.8634Z"
                                    stroke="#141B34" stroke-width="1.4" />
                                <path d="M8.68066 3.63965L8.68066 20.0872" stroke="#141B34" stroke-width="1.4"
                                    stroke-linejoin="round" />
                                <path d="M4.56885 7.29492H5.4826M4.56885 10.0362H5.4826" stroke="#141B34"
                                    stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            <span class="link hide">Dashboard</span>
                        </a>
                    </li>
                </ul>

                <h2>Product</h2>
                <div class="divider"></div>
                <ul>
                    <li>
                        <a asp-controller="Product" asp-action="Index">
                            <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.82764 11.8634C1.82764 8.49248 1.82764 6.80699 2.57126 5.61223C2.84639 5.17021 3.18813 4.78574 3.58105 4.47623C4.64306 3.63965 6.14126 3.63965 9.13767 3.63965H12.7927C15.7891 3.63965 17.2873 3.63965 18.3493 4.47623C18.7422 4.78574 19.084 5.17021 19.3591 5.61223C20.1027 6.80699 20.1027 8.49248 20.1027 11.8634C20.1027 15.2344 20.1027 16.9199 19.3591 18.1146C19.084 18.5567 18.7422 18.9411 18.3493 19.2506C17.2873 20.0872 15.7891 20.0872 12.7927 20.0872H9.13767C6.14126 20.0872 4.64306 20.0872 3.58105 19.2506C3.18813 18.9411 2.84639 18.5567 2.57126 18.1146C1.82764 16.9199 1.82764 15.2344 1.82764 11.8634Z"
                                    stroke="#141B34" stroke-width="1.4" />
                                <path d="M8.68066 3.63965L8.68066 20.0872" stroke="#141B34" stroke-width="1.4"
                                    stroke-linejoin="round" />
                                <path d="M4.56885 7.29492H5.4826M4.56885 10.0362H5.4826" stroke="#141B34"
                                    stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="link hide">IPhone</span>
                        </a>
                    </li>
                </ul>

                <h2>Cart</h2>
                <div class="divider"></div>
                <ul>
                    <li>
                        <a asp-controller="Cart" asp-action="Index">
                            <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.82764 11.8634C1.82764 8.49248 1.82764 6.80699 2.57126 5.61223C2.84639 5.17021 3.18813 4.78574 3.58105 4.47623C4.64306 3.63965 6.14126 3.63965 9.13767 3.63965H12.7927C15.7891 3.63965 17.2873 3.63965 18.3493 4.47623C18.7422 4.78574 19.084 5.17021 19.3591 5.61223C20.1027 6.80699 20.1027 8.49248 20.1027 11.8634C20.1027 15.2344 20.1027 16.9199 19.3591 18.1146C19.084 18.5567 18.7422 18.9411 18.3493 19.2506C17.2873 20.0872 15.7891 20.0872 12.7927 20.0872H9.13767C6.14126 20.0872 4.64306 20.0872 3.58105 19.2506C3.18813 18.9411 2.84639 18.5567 2.57126 18.1146C1.82764 16.9199 1.82764 15.2344 1.82764 11.8634Z"
                                    stroke="#141B34" stroke-width="1.4" />
                                <path d="M8.68066 3.63965L8.68066 20.0872" stroke="#141B34" stroke-width="1.4"
                                    stroke-linejoin="round" />
                                <path d="M4.56885 7.29492H5.4826M4.56885 10.0362H5.4826" stroke="#141B34"
                                    stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="link hide">Cart</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="divider"></div>
        <!-- Login Partial Section -->
        @await Html.PartialAsync("_LoginPartial")
    </nav>
    <main id="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                <small>&copy;2024 Ecommerce-MVC-ASP.NET-C# - Email: leh23211213@gmail.com</small>
            </div>
        </footer>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
