<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>

<body>
    <aside class="sidebar">
        <div class="logo">
            <h1>Apple-Store</h1>
        </div>
        <nav>
            @{
                // TODO : E:\Destop\ui\dropdown-menu-03
                // TODO : E:\Destop\ui\dropdown-menu-06
                // TODO : E:\Destop\ui\toolbar-02
            }
            <ul>
                <li>
                    <a asp-controller="DashBoard" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span>SP3</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Product" asp-action="Index">
                        <span>SP2</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Cart" asp-action="Index">
                        <span>SP1</span>
                    </a>
                </li>
            </ul>
            <div>____________________</div>
            <ul>
                <li>
                    <a asp-controller="Product" asp-action="Index">
                        <span>Product</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Cart" asp-action="Index">
                        <span>Cart</span>
                    </a>
                </li>
            </ul>
            <div>____________________</div>
            <ul>
                <li>
                    <a asp-controller="Product" asp-action="Index">
                        <span>Your Profile</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div>
    </aside>
    <main id="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                <small>&copy;2024 Ecommerce-MVC-ASP.NET-C# - Email: leh23211213@gmail.com</small>
            </div>
        </footer>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
