@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using ecommerce_temp.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Account/LoginPartial.css" asp-append-version="true" />
</head>
@if (SignInManager.IsSignedIn(User))
{
    <div id="header_user_shortcut">
        <ul class="ul">
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/lib/image/home-icon.png" alt="" style="width: 24px; height: 24px">Home
                </a>
            </li>
            <li>
                <a asp-controller="Cart" asp-action="Index"><img src="~/lib/image/cart-icon.png" alt=""
                        style="width: 24px; height: 24px">Cart</a>
            </li>
            <li>
                <div class="d-inline-block dropdown">
                    <div onclick="dropdownFunction()" class="dropbtn">
                        <img src="~/lib/image/profile-icon.png" alt=""
                            class="dropbtn img-thumbnail rounded-circle header-profile-user"
                            style="width: 36px; height: 36px">
                        <span key="t-fullname" class="dropbtn">@UserManager.GetUserName(User)</span>
                    </div>

                    <ul id="profile-dropdown" class="dropdown-content">
                        <a href="" class="dropdown-item">
                            <img src="~/lib/image/setting-icon.png" alt="Settings"
                                style="border-radius:10px; width: 24px; height:24px;">
                            Settings
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="" class="dropdown-item">
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                asp-route-returnUrl="~/Login">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">
                                    <img src="~/lib/image/logout-icon.png" alt="Logout" style="border-radius: 10px;"
                                        width="40" height="40">Logout
                                </button>
                            </form>
                        </a>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <script src="~/js/LoginPartial.js"></script>
}
