@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/CoverPage.css" asp-append-version="true">
    <style>
        .header {
            padding-bottom: 0;
            min-height: 5rem;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            padding-top: 0;
        }
    </style>
</head>

<body>
    <!-- Header  -->
    <header id="header">
        <div class="header container">
            <div class="brand">
                <a href="#" class="main-link">
                    <li><img src="~/lib/image/CoverPage/icon/logo_dark.svg" alt="" class="logo"></li>
                </a>
            </div>

            <nav class="nav-list">
                <ul class="nav-links">
                    <li><a href="#features" class="nav-link">Features</a></li>
                    <li><a href="#get-involved" class="nav-link">Technology</a></li>
                    <li><a href="#footer" class="nav-link">Contact</a></li>
                </ul>
                <ul class="nav-links extra">
                    <li>
                        <a asp-area="Account" asp-controller="Login" asp-action="Login" class="nav-link">
                            <button class="cta">
                                <span>Get Started</span>
                                <svg width="15px" height="10px" viewBox="0 0 13 10">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </button>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- End Header  -->

    <!-- background -->
    <section id="background">
        <div class="background container">
            <article class="article">
            </article>
        </div>
    </section>
    <!-- End background -->

    <!-- features -->
    <section id="features">
        <div class="features container">

            <div class="intro">
                <h1 class="primary-title feature">Introduce about features</h1>
            </div>

            <div class="collection">
                <article class="article">
                    <div class="feature-img">
                        <img src="~/lib/image/CoverPage/features/innovative.png" class="image">
                    </div>
                    <div class="feature-details">
                        <h2 class="secondary-title">Innovative Design</h2>
                        <p>Big or small to Godot's node-based architecture, making your life
                            easier.</p>
                    </div>
                </article>

                <article class="article">
                    <div class="feature-img">
                        <img src="~/lib/image/CoverPage/features/oss.svg" class="image" alt="">
                    </div>
                    <div class="feature-details">
                        <h2 class="secondary-title">Open Source</h2>
                        <p>Truly open development anyone who contributes to Godot benefits equally form other's
                            contributions.</p>
                    </div>
                </article>
                <article class="article">
                    <div class="feature-img">
                        <img src="~/lib/image/CoverPage/features/oss.svg" class="image" alt="">
                    </div>
                    <div class="feature-details">
                        <h2 class="secondary-title">Open Source</h2>
                        <p>Truly open development anyone who contributes to Godot benefits equally form other's
                            contributions.</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- End features -->

    <!-- get-involved -->
    <section id="get-involved">
        <div class="get-involved container">

            <div class="intro">
                <h1 class="primary-title get-involve">Technology</h1>
                <p>Join the community and help create a game engine that belongs to everybody.</p>
            </div>

            <div class="collection">

                <article class="article">
                    <img src="~/lib/image/CoverPage/get_involved/code.svg" class="get-involved-img image">
                    <h2 class="secondary-title">Code</h2>
                    <p>
                        If you know how to code, and enjoy fun and challenging problems, you can help by fixing bugs or
                        creating
                        cool
                        new features.
                    </p>
                    <h3>
                        <a class="learn-more"
                            href="https://docs.godotengine.org/en/stable/community/contributing/ways_to_contribute.html#contributing-code">Learn
                            more</a>
                    </h3>
                </article>

                <article class="article">
                    <img src="~/lib/image/CoverPage/get_involved/document.svg" class="get-involved-img image">
                    <h2 class="secondary-title">Document</h2>
                    <p>
                        Documentation quality is essential in a game engine; help make it better by updating the API
                        reference,
                        writing new guides or submitting corrections.
                    </p>
                    <h3>
                        <a class="learn-more"
                            href="https://docs.godotengine.org/en/stable/community/contributing/ways_to_contribute.html#contributing-to-the-documentation">Learn
                            more</a>
                    </h3>
                </article>

                <article class="article">
                    <img src="~/lib/image/CoverPage/get_involved/report.svg" class="get-involved-img image">
                    <h2 class="secondary-title">Report</h2>
                    <p>
                        Found a problem with the engine? Don't forget to report it so that developers can track it down.
                    </p>
                    <h3>
                        <a class="learn-more"
                            href="https://docs.godotengine.org/en/stable/community/contributing/ways_to_contribute.html#testing-and-reporting-issues">Learn
                            more</a>
                    </h3>
                </article>

            </div>
        </div>
    </section>
    <!-- End get-involved -->

    <!-- Footer  //TODO : footer form midde-->
    <footer id="footer">
        <div class="footer container">

            <p class="copyright">
                Thank For Visiteddddd
            </p>

            <div class="link-columns">
                <section>
                    <h3>Reference Source</h3>
                    <ul>
                        <li>
                            <a href="#" title="Features">Database</a>
                        </li>
                        <li>
                            <a href="#" title="Auth">Auth</a>
                        </li>
                        <li>
                            <a href="#" title="Functions">Functions</a>
                        </li>
                    </ul>
                </section>
            </div>

            <div class="social-wrapper">
                <div class="social-links">
                    <h3 class="secondary-title" id="contact-us">Contact us</h3>
                    <ul class="contact-links">
                        <li><a href="#" class="icon nav-link">
                                <svg xmlns="http://www.w3.org/2000/svg" class="linkedin" height="1.6em"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z">
                                    </path>
                                </svg>
                            </a></li>
                        <li><a href="#" class="icon nav-link">
                                <svg class="github" height="30px" width="30px" viewBox="0 0 30 30"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z">
                                    </path>
                                </svg>
                            </a></li>
                        <li><a href="#" class="icon nav-link">
                                <svg class="instagram" fill-rule="nonzero" height="30px" width="30px"
                                    viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g style="mix-blend-mode: normal" text-anchor="none" font-size="none"
                                        font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray=""
                                        stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt"
                                        stroke-width="1" stroke="none" fill-rule="nonzero">
                                        <g transform="scale(8,8)">
                                            <path
                                                d="M11.46875,5c-3.55078,0 -6.46875,2.91406 -6.46875,6.46875v9.0625c0,3.55078 2.91406,6.46875 6.46875,6.46875h9.0625c3.55078,0 6.46875,-2.91406 6.46875,-6.46875v-9.0625c0,-3.55078 -2.91406,-6.46875 -6.46875,-6.46875zM11.46875,7h9.0625c2.47266,0 4.46875,1.99609 4.46875,4.46875v9.0625c0,2.47266 -1.99609,4.46875 -4.46875,4.46875h-9.0625c-2.47266,0 -4.46875,-1.99609 -4.46875,-4.46875v-9.0625c0,-2.47266 1.99609,-4.46875 4.46875,-4.46875zM21.90625,9.1875c-0.50391,0 -0.90625,0.40234 -0.90625,0.90625c0,0.50391 0.40234,0.90625 0.90625,0.90625c0.50391,0 0.90625,-0.40234 0.90625,-0.90625c0,-0.50391 -0.40234,-0.90625 -0.90625,-0.90625zM16,10c-3.30078,0 -6,2.69922 -6,6c0,3.30078 2.69922,6 6,6c3.30078,0 6,-2.69922 6,-6c0,-3.30078 -2.69922,-6 -6,-6zM16,12c2.22266,0 4,1.77734 4,4c0,2.22266 -1.77734,4 -4,4c-2.22266,0 -4,-1.77734 -4,-4c0,-2.22266 1.77734,-4 4,-4z">
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                            </a></li>
                    </ul>
                </div>
            </div>

            <!-- bottom part section -->
            <div class="footer-bottom">
                <div class="footer-bottom-wrapper">
                    <small>&copy;2024 Ecommerce-MVC-ASP.NET-C# - Email: leh23211213@gmail.com</small>
                </div>
            </div>

        </div>
    </footer>
    <!--End Footer-->

    <script>
        const header = document.querySelector('#header');
        document.addEventListener('scroll', () => {
            var scroll_position = window.scrollY;
            if (scroll_position > 190) {
                header.style.backgroundColor = 'black';
            } else {
                header.style.backgroundColor = 'transparent';
            }
        });
    </script>
</body>