@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using ecommerce_temp.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/Account/Index.css" asp-append-version="true" />
</head>
@if (User.Identity.IsAuthenticated)
{
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box align-items-center justify-content-between">
                        <h4>DashBoard</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <div class="overflow-hidden card">
                        <div class="bg-primary-subtle">
                            <div class="row" row>
                                <div class="col-7">
                                    <div class="text-primary p-3">
                                        <h4 class="text-primary"> Hello!</h4>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    @* <img src="~/lib/image/profile-img.png" alt="" class="profile-img"> *@
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <img src="~/lib/image/profile-icon.png" alt="" class="img-thumbnail rounded-circle"
                                            height="36" width="36">
                                    </div>
                                    <h4 class="font-size-15 text-truncate">@UserManager.GetUserName(User)</h4>
                                </div>
                                <div class="col-sm-8">
                                    <div class="pt-4">
                                        <div class="mt-4">
                                            <a class="btn btn-primary waves-effect waves-light btn-sm" asp-area="Identity"
                                                asp-page="/Account/Manage/Index" title="Manage">View
                                                Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="col-md-4">
                        <div class="mini-stats-wid card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <p class="text-muted fw-medium">Profit</p>
                                        <h4 class="mb-0">$35, 723</h4>
                                    </div>
                                    <div class="flex-shrink-0 align-self-center">
                                        <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mini-stats-wid card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <p class="text-muted fw-medium">Revenue</p>
                                        <h4 class="mb-0">$35, 723</h4>
                                    </div>
                                    <div class="flex-shrink-0 align-self-center">
                                        <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Please log in.</p>
}
