#header_user_shortcut {
    width: 300px;
    height: 60px;
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.ul {
    list-style: none;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.ul .li {
    cursor: pointer; /* Loại bỏ display: inline-block; vì display: flex trong .ul đã xác định layout */
    
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    display:inline-block;
    user-select: none;
    position: relative;
}

.dropdown {
    position: relative;
}

.ul .li .svg {
    color: blue;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 240px;
    top: 88px;
    right: 16px;
    border-radius: 8px;
    border: 1px solid;
    flex-direction: column;
    gap: 4px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

a{
    text-decoration: none;
}
