* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    position: relative;
}

body {
    font-size: 16px;
    height: 100%;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

header{
    background: #F6C356;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS */
main {
    display: flex; /* Sử dụng flexbox để chia phần "main" thành hai phần */
}

.sidebar-left,
.sidebar-right {
    flex: 1; /* Mỗi phần chiếm 50% chiều rộng của "main" */
}

.sidebar-left {
    order: 1; /* Xác định phần left sẽ hiển thị trước phần right */
}
.sidebar-right {
    text-align: center;
}

footer{
    background: #f656e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

