<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_MVC_Commerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_MVC_Commerce.styles.css" asp-append-version="true" />
</head>

<body>
    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="navbar-brand-box">
                        <span>
                            <img src="~/lib/image/DashBoard/logo.png" alt="Csharp Logo" class="style__Logo" height="40">
                        </span>
                    </div>
                </a>
                <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect"
                    id="vertical-menu-btn">
                    <i class="fa fa-fw fa-bars">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 6l16 0"></path>
                            <path d="M4 12l16 0"></path>
                            <path d="M4 18l16 0"></path>
                        </svg>
                    </i>
                </button>
                <form class="app-search d-none d-lg-block" action="">
                    <div class="position-relative">
                        <input type="text" class="form-control form-control" placeholder="Search...">
                    </div>
                </form>
                <span class="bx bx-search-alt"></span>
            </div>
            <partial name="_LoginPartial" />
        </div>
    </header>
    <div class="vertical-menu">
        <div class="h-100" id="vertical-menu" data-overlayscrollbars="host">
            <nav class="sidebar-links">
                @{
                    // TODO : E:\Destop\ui\dropdown-menu-03
                    // TODO : E:\Destop\ui\dropdown-menu-06
                    // TODO : E:\Destop\ui\toolbar-02
                }
                <h2>Main</h2>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <span>DashBoard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Selling">
                            <span>Selling</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class=" main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Web_MVC_Commerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
