@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using Web_MVC_Commerce.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Account/LoginPartial.css" asp-append-version="true" />
</head>


@if (SignInManager.IsSignedIn(User))
{
    <span class="navigation__group">
        <img class="icon" src="~/lib/image/notification-icon.png" alt="Notification">
        <img class="profile" src="~/lib/image/person-icon.png" alt="User profile">
    </span>
    <div class="dropdown__wrapper hide dropdown__wrapper--fade-in none">
        <div class="dropdown__group">
            <div class="email">@UserManager.GetUserName(User)</div>
        </div>
        <nav>
            <ul>
                <li>
                    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
                        title="Manage">
                        <img src="~/lib/image/profile-icon.png" alt="Profile" style="border-radius: 10px;" width="24"
                            height="24">
                        My Profile
                    </a>
                </li>
                <li>
                    <img src="~/lib/image/setting-icon.png" alt="Settings" style="border-radius: 10px;" width="24"
                        height="24">
                    Settings
                </li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="~/Login">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">
                            <img src="~/lib/image/logout-icon.png" alt="Logout" style="border-radius: 10px;" width="40"
                                height="40">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const profile = document.querySelector('.profile');
        const dropdown = document.querySelector('.dropdown__wrapper');

        profile.addEventListener('click', () => {
            dropdown.classList.remove('none');
            dropdown.classList.toggle('hide');
        })

        document.addEventListener("click", (event) => {
            const isClickInsideDropdown = dropdown.contains(event.target);
            const isProfileClicked = profile.contains(event.target);

            if (!isClickInsideDropdown && !isProfileClicked) {
                dropdown.classList.add('hide');
                dropdown.classList.remove('dropdown__wrapper--fade-in');
            }
        });
    });
</script>