.container{
    width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    
}
.styles__StyledInner{
    display: flex;
    padding-top: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.styles__StyledSideBar{
    width: 230px;
    max-height: 100vh;
    position: sticky;
    overflow-y: scroll;
    scrollbar-width: none;
    top: 16px;
    background-color: transparent;
    display: flex;
    padding-bottom: 117px;
    flex-direction: column;
    color: rgb(56, 56, 61);
    font-size: 14px;
    line-height: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
}
.styles__StyledListItem{
    position: relative;
    display: flex;
    margin-bottom: 16px;
    padding: 12px 8px;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgb(242, 230, 252);
}
.styles__StyledTitle{
    margin-bottom: 8px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: rgb(65, 145, 188);
}

.styles__StyledItemV2 a{
    display: flex;
    padding: 7px 16px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}
.styles__StyledIcon{
    flex: 0 0 32px;
    height: 32px;
    margin-right: 8px;
    line-height: 0;
}
.styles__StyledIcon img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
    
}
.styles__StyledContent{
    display: flex;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}
.styles__ContainerWidgets{
    width: calc(100% - 254px);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.styles__ContainerWidget{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 8px;
}
.style__QuickLinksStyled{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 8px;
    align-self: stretch;
    justify-content: center;
    background-color: rgb(156, 204, 246);
    border-radius: 8px;
}
.style__QuickLinkV2Styled a{
    display: flex;
    width: 110px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}
.style__BorderStyled{
    
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 35%;
    overflow: hidden;
    box-sizing: content-box;
    background: white;
}
.styles__StyledImg{
    object-fit: contain;
    display: block;
    
}
.style__QuickLinkTitleStyled{
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    text-align: center;
    text-overflow: ellipsis;
    min-height: 21px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--Alias-Primary---On-Theme,#27272a);
}
.styles__StyledHorizontalScrollingProducts{
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color:rgb(156, 204, 246);
    gap: 12px;
    border-radius: 8px;
}
.styles__WidgetHeaderStyled{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    min-height: 24px;
}
.styles__WidgetHeaderTitleStyled{
    display: grid;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}
.styles__WidgetHeaderTitleStyled .title{
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.styles__StyledHorizontalScrollingProductsTabsStyled{
    display: flex;
    height: 34px;
}
.style__StyledSimpleSlider{
    width: 100%;
    position: relative;
}
.style__StyledSimpleSlider .content .slider{
    display: inline-flex;
    min-width: 100%;
}
.ProductTab__ProductTabStyled{
    color: rgb(10, 104, 255);
    border: 1px solid rgb(10, 104, 255);
    font-weight: 600;
    flex-direction: row;
    padding: 0px 16px;
    height: 32px;
    background: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;
    display: flex;
    text-align: center;
    color: rgb(39, 39, 42);
}
.style__StyledSimpleSlider{
    width: 100%;
    position: relative;
}
.style__StyledSimpleSlider .content .slider{
    display: inline-flex;
    min-width: 100%;
}
.style__ProductLink{
    text-decoration: none;
    display: flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 100%;
}
.style__StyledItem{
    display: flex;
    color: rgb(36, 36, 36);
    text-decoration: none;
    flex-direction: column;
    border: 1px solid rgb(235, 235, 240);
    background:rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
}
.styles__ThumbnailStyled{
    flex-shrink: 0;
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.styles__ThumbnailStyled .image-wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.style__ContentStyled{
    display: flex;
    flex-direction: column;
    -webkit-box-align: justify;
    justify-content: space-between;
    padding: 8px;
    gap: 4px;
    flex: 1 1 0%;
}
.style__ContentStyled .info{
    display: flex;
    flex-direction: none;
    gap: 4px;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.Badges__StyledBadges2List{
    display: flex;
    flex-flow: column wrap;
    max-height: 44px;
    overflow: hidden;
    gap: 4px;
}
.Badges__StyledBadgesList{
    display: flex;
    overflow: hidden;
    gap: 4px;
    flex-wrap: nowrap;
}
.style__NameStyled{
    display: -webkit-box;
    -webkit-box-align: vertical;
    -webkit-box-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    color: var(--Alias-Primary---On-Theme,#27272a);
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
    word-break: break-word;
}
.style__PriceAndDiscountStyled .price-discount{
    text-align: left;
    font-size: 16px;
    line-height: 150%;
    font-weight: 150%;
    color: rgb(39, 39, 42);
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}










