#header_user_shortcut {
    width: 400px;
    height: 70px;
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.ul {
    list-style: none;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    gap: 16px;
    align-items: center;
}

.ul .li {
    cursor: pointer; /* Loại bỏ display: inline-block; vì display: flex trong .ul đã xác định layout */
    
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    display:inline-block;
    user-select: none;
    position: relative;
}



    /*  dropdown content*/
.dropdown {
    position: relative;
}

.ul .li .svg {
    color: blue;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 180px;
    top: 56px;
    right: 28px;
    border-radius: 8px;
    border: 1px solid;  
    flex-direction: column;
}

.show {
    display: block;
}

a{
    text-decoration: none;
}
