<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Header  -->

    <head>
        <div class="header container">
            
        </div>
    </head>
    <!-- End Header  -->

    <!-- Introduce -->
    <section id="Introduce">

    </section>
    <!-- End Introduce -->

    <!-- features -->
    <section id="features">

    </section>
    <!-- End features -->

    <!-- get-involved -->
    <section id="get-involved">

    </section>
    <!-- End get-involved -->

    <!-- Footer  -->
    <footer id="footer">

    </footer>
    <!--End Footer-->
</body>