@page "/Cart"
@{

}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />
</head>

<div class="page-content">
    <div class="main-title">
        <h4>Cart</h4>
    </div>
    <div class="content">
        <div class="left-content">
            <div class="row-heading">
                <label class="checkBox">
                    <input type="checkbox">
                    <span class="checkbox-fake">
                        <svg class="checkbox-mark" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                        </svg>
                    </span>
                    <span class="label">All 1 product</span>
                </label>
                <span>Price</span>
                <span>Amount</span>
                <span>Total</span>
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/trash.svg" class="remove-all"
                    alt="deleted">
            </div>
            <div>
                <div class="infinite-scroll-component">
                    <div class="Seller">
                        <div class="List-Intended">
                            <div class="Row">
                                <div class="Item-Info">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    <a target="_blank" href="">
                                        <img src="~/lib/image/SmartPhone/Iphone/IP13-Mini-BK-128GB.png" width="80"
                                            height="60" alt="">
                                    </a>
                                    <div class="Item-Content">
                                        <a href="">Nội dung sản phẩm</a>
                                    </div>
                                </div>
                                <div class="Item-Price">
                                    <div type="normal" class="Price">180.000 <sup>đ</sup></div>
                                </div>
                                <div class="Item-Quantity">
                                    <div class="Quantity">
                                        <button class="Substract"
                                            onclick="let decreaseWith = 1; let newValue = parseInt(document.getElementById('base-life').value) - decreaseWith; if(newValue >= 1) { document.getElementById('base-life').value = newValue; }">
                                            -
                                        </button>
                                        <input id="base-life" class="base-stats" type="number" name="base-life"
                                            value="1" readonly />
                                        <button class="Add"
                                            onclick="let increaseWith = 1; let newValue = parseInt(document.getElementById('base-life').value) + increaseWith; if(newValue <= 5) { document.getElementById('base-life').value = newValue; }">
                                            +
                                        </button>
                                    </div>
                                </div>
                                <div class="Item-Subtotal">
                                    price <sup>đ</sup>
                                </div>
                                <div class="Item-Action">
                                    <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/trash.svg"
                                        alt="deleted">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="Right-Inner" style="top: -270px;">
                <div>
                    <div class="Address-Block">
                        <div class="Customer-Info">
                            <p class="Customer-Info-Name">
                                Le Van Hiep
                            </p>
                            <i></i>
                            <p class="Customer-Info-PhoneNumber">0944</p>
                        </div>
                        <div class="Address">536 Dien Bien Phu</div>
                    </div>
                </div>
                <div class="Price-Summary">
                    <ul class="Price-Items">
                        <li class="Price-Item">
                            <div class="Prices-Text">temporary price</div>
                            <div class="Prices-Value"> 0 <sup>đ</sup> </div>
                        </li>
                        <li class="Price-Item">
                            <div class="Prices-Text">discount</div>
                            <div class="Prices-Value"> 0 <sup>đ</sup> </div>
                        </li>
                    </ul>
                    <i></i>
                    <div class="Prices-Total">
                        <span class="Prices-Text">Total</span>
                        <div class="Prices-Content">
                            <span class="Prices-Value-Final"> 0 <sup>đ</sup> </span>
                        </div>
                    </div>
                </div>
                <button class="button">BUY</button>
            </div>
        </div>
    </div>
</div>