<head>
    <link rel="stylesheet" href="~/css/Account/DashBoard.css" asp-append-version="true" />
</head>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box align-items-center justify-content-between">
                    <h4>DashBoard</h4>
                    <h4>DashBoardDashBoardDashBoardDashBoardDashBoardDashBoardDashBoardDashBoard</h4>
                    <h4>DashBoard</h4>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>