@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using MVC_Ecommerce.Models
@using Web_MVC_Commerce.Models.Account


@{
    ViewData["Title"] = "Index";
}
<div>
    <span>Index</span>
</div>