@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/DashBoard.css" asp-append-version="true" />
</head>

<body>
    <div style="display: contents">
        <div class="layout-wrapper">

        </div>
    </div>

    <footer>&lt;footer&gt;</footer>
</body>