@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using MVC_Ecommerce.Models

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager
@{
    ViewData["Title"] = "Index";
}
<div>
    <span>Index</span>
</div>