@page "/Selling"

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/Selling.css" asp-append-version="true">
    @*
    // TODO : E:\Destop\ui\tabs-02
    // TODO : E:\Destop\ui\scrolling-02\index.html
    *@
</head>
<div class="selling-content">
    <div class="scrolling-product">
        @{
            //TODO: button bug
        }
        <div class="action-buttons">
            <a href="#" class="action-button action-button--primary">
                <svg width="16" height="16" fill="currentColor" focusable="false" viewBox="0 0 24 24">
                    <path
                        d="M21.343 10.543 12.77 1.972a.829.829 0 0 0-1.2 0L3 10.543l1.2 1.2 7.114-7.114v17.657h1.715V4.63l7.114 7.114 1.2-1.2Z">
                    </path>
                </svg>
                IPhone
            </a>
            <button type="button" disabled id="action-button--previous" class="action-button--horizontal-scroll">
                <svg width="16" height="16" fill="currentColor" focusable="false" viewBox="0 0 24 24">
                    <path
                        d="M12.771 7.115a.829.829 0 0 0-1.2 0L3 15.686l1.2 1.2 7.971-7.971 7.972 7.971 1.2-1.2-8.572-8.571Z">
                    </path>
                </svg>
            </button>
            <button type="button" id="action-button--next" class="action-button--horizontal-scroll">
                <svg width="16" height="16" fill="currentColor" focusable="false" viewBox="0 0 24 24">
                    <path
                        d="M12.771 7.115a.829.829 0 0 0-1.2 0L3 15.686l1.2 1.2 7.971-7.971 7.972 7.971 1.2-1.2-8.572-8.571Z">
                    </path>
                </svg>
            </button>
        </div>
        <div id="product-lists">
            <a href="#uk" class="product-list">
                <img class="product" aria-hidden="true" src="~/lib/image/SmartPhone/Iphone/IP13-Mini-BK-128GB.png"
                    alt="Iphone" style="display: -webkit-box; width: 151px;">
                <div>
                    <h2 role="presentation">
                        12150.25
                    </h2>
                    <div class="currency">
                        British Pound
                    </div>
                </div>
            </a>
            <a href="#uk" class="product-list">
                <img class="product" aria-hidden="true" src="~/lib/image/SmartPhone/Iphone/IP13-Mini-BK-128GB.png"
                    alt="Iphone" style="display: -webkit-box; width: 151px;">
                <div>
                    <h2 role="presentation">
                        12150.25
                    </h2>
                    <div class="currency">
                        British Pound
                    </div>
                </div>
            </a>
            <a href="#uk" class="product-list">
                <img class="product" aria-hidden="true" src="~/lib/image/SmartPhone/Iphone/IP13-Mini-BK-128GB.png"
                    alt="Iphone" style="display: -webkit-box; width: 151px;">
                <div>
                    <h2 role="presentation">
                        12150.25
                    </h2>
                    <div class="currency">
                        British Pound
                    </div>
                </div>
            </a>
            <a href="#uk" class="product-list">
                <img class="product" aria-hidden="true" src="~/lib/image/SmartPhone/Iphone/IP13-Mini-BK-128GB.png"
                    alt="Iphone" style="display: -webkit-box; width: 151px;">
                <div>
                    <h2 role="presentation">
                        12150.25
                    </h2>
                    <div class="currency">
                        British Pound
                    </div>
                </div>
            </a>
            <a href="#uk" class="product-list">
                <img class="product" aria-hidden="true" src="~/lib/image/SmartPhone/Iphone/IP13-Mini-BK-128GB.png"
                    alt="Iphone" style="display: -webkit-box; width: 151px;">
                <div>
                    <h2 role="presentation">
                        12150.25
                    </h2>
                    <div class="currency">
                        British Pound
                    </div>
                </div>
            </a>
            <a href="#uk" class="product-list">
                <img class="product" aria-hidden="true" src="~/lib/image/SmartPhone/Iphone/IP13-Mini-BK-128GB.png"
                    alt="Iphone" style="display: -webkit-box; width: 151px;">
                <div>
                    <h2 role="presentation">
                        12150.25
                    </h2>
                    <div class="currency">
                        British Pound
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<script src="~/js/Selling.js"></script>