@page "/Selling"

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/Selling.css" asp-append-version="true">
</head>

<div class="page-content">
    <div class="Content">
        <div class="Left-Content">
            <div class="Filter">
                <div class="Filter-Block">
                    <div class="Filter-Title"> Hãng sản xuất </div>
                    <div class="Filter-CheckList" data-level="-1" data-query="hang-san-xuat"></div>
                </div>
            </div>
        </div>
        <div class="Right-Content">
            <div class="box-filter top-box  block-scroll-main cate-42">
                <section>
                    <div class="Title">All Product</div>
                    <h3>Filter</h3>
                </section>
            </div>
            <section id="CategoryPage" data-name="Phone" data-template="cate">
                <div class="Product-Box">
                    <ul class="List-Product">
                        <li class="Item">
                            <a href="">
                                <div class="Item-Img">
                                    <img src="~/lib/image/SmartPhone/Iphone/IP13-Mini-BK-128GB.png" alt="">
                                </div>
                            </a>
                            <div class="Product-Info">
                                <h3>Iphone 13 pro</h3>
                                <strong class="price">29.500 <sup>đ</sup></strong>
                            </div>
                        </li>
                        <li class="Item">
                            <a href="">
                                <div class="Item-Img">
                                    <img src="~/lib/image/SmartPhone/Iphone/IP13-Mini-BK-128GB.png" alt="">
                                </div>
                            </a>
                            <div class="Product-Info">
                                <h3>Iphone 13 pro</h3>
                                <strong class="price">29.500 <sup>đ</sup></strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="~/js/Selling.js"></script>