#root{
    --bs-gutter-y: 0px;
    --bs-gutter-x: 24px;
}
.page-content{
    padding: 94px 18px 60px;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    --bs-gutter-x: 12px;
}

.row{
    --bs-gutter-x: 24px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}


/* .profile-img{
    max-width: 100%;
    height: auto;
} */


