/* Thiết lập font-size cho html */
html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

/* Thiết lập font-size cho html khi màn hình có độ rộng lớn hơn hoặc bằng 768px */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

                                        /* sidebar */
.sidebar {
  background-color: #f5f5f5;
  width: 250px;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: #ddd;
}

                                       /* main */
#main {
  margin-right: auto;
  margin-left: auto;
  flex: 1; /* Phần nội dung sẽ chiếm hết không gian còn lại */
  padding-left: 260px; /* Padding cho phần nội dung */
  overflow: hidden;
  padding: 40px;
}




                                      /* _LoginPartial*/
.header-user-shortcut {
  margin-top: 20px;
}

.user-menu {
  list-style-type: none;
  padding: 0;
}

.user-item {
  margin: 10px 0;
}

.user-item a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.user-item a img {
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-icon {
  border-radius: 10px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logout-form {
  display: inline;
}

.logout-button {
  background: none;
  border: none;
  color: #333;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
